<!-- Home Section -->
<section class="page-section" id="home">
    <div class="relative container">

        <div class="align-center">
            <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30"> Design + Development </h1>
            <h2 class="hs-line-14 font-alt mb-50 mb-xs-30" > Liz Kline</h2>
            <div class="local-scroll">
                <a href="#portfolio" class="btn btn-mod btn-border btn-medium btn-round hidden-xs" >See More</a>
                <span class="hidden-xs">&nbsp;</span>

            </div>
        </div>

    </div>
</section>
<!-- End Home Section -->


<!-- Portfolio Section -->
<section class="page-section pt-0 pb-0" id="portfolio">
    <div class="relative">


        <!-- Works Grid -->
        <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">

            <!-- Work Item (Lightbox) -->
            <li class="work-item mix photography">
                <a href="https://stacksonstacks.firebaseapp.com/#/" target="_blank" class="work-lightbox-link mfp-image">
                    <div class="work-img" >
                        <img src="img/StackImg.png" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h2 class="work-title">Stack</h2>
                        <div class="work-descr">
                           Europeana API archival search engine
                            <br><br>
                            - AngularFire, Firebase, Bootstrap, Angular-Gridster, Europeana API, HTML, CSS

                        </div>
                    </div>
                </a>
            </li>
            <!-- End Work Item -->

            <!-- Work Item (External Page) -->
            <li class="work-item mix branding design">
                <a href="http://lapty.github.io/lamp/#/" target="_blank" class="work-ext-link">
                    <div class="work-img">
                        <img class="work-img" src="img/spatchIMG.png" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h2 class="work-title">Spatch</h2>
                        <div class="work-descr">
                            recipe maker and ingredient calculator
                                <br><br>
                            - AngularJS, Bootstrap UI, HTML, SASS

                        </div>
                    </div>
                </a>
            </li>
            <!-- End Work Item -->

            <!-- Work Item (External Page) -->
            <li class="work-item mix branding">
                <a href="http://ro-sham-beaux.com/" target="_blank" class="work-ext-link">
                    <div class="work-img">
                        <img class="work-img" src="img/ro-sham-beauxIMG.png" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h2 class="work-title">Ro Sham Beaux</h2>
                        <div class="work-descr">
                            e-commerce  Wordpress site
                                <br><br>
                            - Wordpress, WooCommerce, HTML, CSS
                        </div>
                    </div>
                </a>
            </li>
            <!-- End Work Item -->



        </ul>
        <!-- End Works Grid -->

    </div>
</section>
<!-- End Portfolio Section -->





<!-- Resume Section -->
<section class="page-section" id="resume">
    <div class="container relative">

        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Resume
        </h2>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
            <li class="active">
                <a data-target="#service-branding" data-toggle="tab"  style="cursor:pointer;">

                    <div class="alt-tabs-icon">
                        <span class="icon-strategy"></span>
                    </div>

                    Experience
                </a>
            </li>
            <li>
                <a data-target="#service-web-design" data-toggle="tab"   style="cursor:pointer;">

                    <div class="alt-tabs-icon">
                        <span class="icon-desktop"></span>
                    </div>

                    Education
                </a>
            </li>
            <li>
                <a data-target="#service-graphic" data-toggle="tab" style="cursor:pointer;">

                    <div class="alt-tabs-icon">
                        <span class="icon-tools"></span>
                    </div>

                    Skills/Tools
                </a>
            </li>
        </ul>
        <!-- End Nav tabs -->
        <hr>

        <!-- Tab panes -->
        <div class="tab-content tpl-tabs-cont">

            <!-- Service Item -->
            <div class="tab-pane fade in active" id="service-branding">

                <div class="section-text">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 mb-md-40 mb-xs-30" align="center">
                            <blockquote class="mb-0">
                                <h6 style="color:#B1C779"> 0ct 2014 to present</h6>
                                <p>
                                    Full Stack Developer for Lincs<br>

                                </p>


                                <footer>
                                    responsible for web design, development, site maintenance, and communication with clients
                                </footer>

                            </blockquote>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-md-40 mb-xs-30" align="center">
                            <blockquote class="mb-0">
                                <h6 style="color:#B1C779"> Jul - Oct 2014</h6>
                                <p>
                                    Front End Developer course at the Iron Yard<br>

                                </p>


                                <footer>
                                    Thirteen week program where I refined my skills in HTML, CSS, Javascript, and created a fully functioning museum archival search engine as my final project
                                </footer>

                            </blockquote>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-md-40 mb-xs-30" align="center">
                            <blockquote class="mb-0">
                                <h6 style="color:#B1C779"> Jan 2013 - Jan 2014</h6>
                                <p>
                                    E-Commerce Developer for Ro-Sham-Beaux<br>

                                </p>


                                <footer>
                                    Designed and developed Wordpress e-commerce site for RSB lighting and furniture design company, took all product photography, and managed site purchase orders.
                                </footer>

                            </blockquote>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Service Item -->

            <!-- Service Item -->
            <div class="tab-pane fade" id="service-web-design">

                <div class="section-text">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 mb-md-40 mb-xs-30" align="center">
                            <blockquote class="mb-0">
                                <h6 style="color:#B1C779">May 2014</h6>
                                <p>
                                    BA in studio art - print
                                </p>

                                <footer>
                                    College of Charleston
                                </footer>
                            </blockquote>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-md-40 mb-xs-30" align="center">
                            <blockquote class="mb-0">
                                <h6 style="color:#B1C779">May 2014</h6>
                                <p>
                                    BA in arts management
                                </p>

                                <footer>
                                    College of Charleston
                                </footer>
                            </blockquote>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-md-40 mb-xs-30" align="center">
                            <blockquote class="mb-0">
                                <h6 style="color:#B1C779">Oct 2014</h6>
                                <p>
                                    Front End Developer course
                                </p>

                                <footer>
                                    Iron Yard
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Service Item -->

            <!-- Service Item -->
            <div class="tab-pane fade" id="service-graphic">

                <div class="section-text">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 mb-md-40 mb-xs-30" align="center">
                            <blockquote class="mb-0">

                                <footer>
                                    Photoshop
                                </footer>
                                <br>
                                <footer>
                                    Illustrator
                                </footer>
                                <br>
                                <footer>
                                    Lightshop
                                </footer>
                                <br>
                                <footer>
                                    Sketch
                                </footer>
                                <br>
                                <footer>
                                    Wordpress
                                </footer>
                            </blockquote>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-md-40 mb-xs-30" align="center">
                            <blockquote class="mb-0">

                                <footer>
                                    HTML
                                </footer>
                                <br>
                                <footer>
                                    CSS/SASS
                                </footer>
                                <br>
                                <footer>
                                    Javascript
                                </footer>
                                <br>
                                <footer>
                                    Angular
                                </footer>
                                <br>
                                <footer>
                                    Node
                                </footer>
                            </blockquote>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-md-40 mb-xs-30" align="center">
                            <blockquote class="mb-0">

                                <footer>
                                    Github
                                </footer>
                                <br>
                                <footer>
                                    Grunt/Gulp
                                </footer>
                                <br>
                                <footer>
                                    Heroku
                                </footer>
                                <br>
                                <footer>
                                    Yeoman
                                </footer>
                                <br>
                                <footer>
                                    Bootstrap/Foundation
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Service Item -->




        </div>
        <!-- End Tab panes -->

    </div>
</section>
<!-- End Resume Section -->
<!-- Call Action Section -->
<section class="small-section bg-dark">
    <div class="container relative">

        <div class="align-center">
            <h3 class="banner-heading font-alt">Want to know more?</h3>
            <div class="local-scroll">
                <a href="views/resume.html" class="btn btn-mod btn-w btn-medium btn-round" target="_blank" >full resume</a>
            </div>
        </div>

    </div>
</section>
<!-- End Call Action Section -->

<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container relative">

        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Contact
        </h2>
        <br>
        <div class="row mb-60 mb-xs-40">

            <div class="col-md-8 col-md-offset-2">
                <div class="row">

                    <!-- Phone -->
                    <div class="col-sm-4 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-phone" ></i>
                            </div>
                            <div class="ci-title font-alt" style="color:#B7CB85">
                                <strong>Call Me</strong>
                            </div>
                            <div class="ci-text">
                                832 647 4934
                            </div>
                        </div>
                    </div>
                    <!-- End Phone -->

                    <!-- Address -->
                    <div class="col-sm-4 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon" >
                                <i class="fa fa-map-marker" ></i>
                            </div>
                            <div class="ci-title font-alt" style="color:#B7CB85">
                                <strong>Address</strong>
                            </div>
                            <div class="ci-text">
                                603 King Street Charleston, SC 29407
                            </div>
                        </div>
                    </div>
                    <!-- End Address -->

                    <!-- Email -->
                    <div class="col-sm-4 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-envelope" ></i>
                            </div>
                            <div class="ci-title font-alt" style="color:#B7CB85">
                                <strong>Email</strong>
                            </div>
                            <div class="ci-text">
                                <a href="mailto:lizkline91@gmail.com">lizkline91@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Email -->

                </div>
            </div>

        </div>
        <br>



    </div>
</section>
<!-- End Contact Section -->
